// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 .entete {
  text-align: center;
  color: blue;
  padding: 13px;
}

.titre-principal {
  text-align: center;
  color: red;
  font-family: 'Roboto', sans-serif;
}

#td {
  text-align: center;
}

.btn {
  color: white!important;
}
